<h1>Listing posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr id="post_<%= post.id %>">
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= link_to 'Show', post,
							:class => "show",
							:remote => true,
							"data-type" => :json %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete,
							   data: { confirm: 'Are you sure?' }, 
							   :class => "delete", 
							   :remote => true,
							   "data-type" => :json %></td>
  </tr>
<% end %>
</table>

<div id="post_content"></div>

<br />

<%= link_to 'New Post', new_post_path %>
